@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background: linear-gradient(to right, #87CEEB, #1E90FF);
}

h1{
    margin-right: 2rem;
}

#tentacles {
    width: 50px;
    margin-left: 2rem;
}

.header {
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 99%;
    border: #b2deff 3px solid; 
    border-radius: 20px;
    box-shadow: 5px 5px 10px #0049ae;
    background-color: rgba(255, 255, 255, 0.3); 
    margin: 0 auto; 
}

#main-container {
   text-align: center;
   margin: 50px;
}

h1 {
    text-align: center;
}

.stats-container {
    display: flex;
    align-items: center;
} 

.stats-card {
    background-color: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(3px);
    border-radius: 7px;
    box-shadow: 0 0 30px rgb(230, 249, 255);
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    cursor: pointer;
} 

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}